/* TODO Add site wide styles */
body{
    /* background-color: rgb(48, 48, 48);
    color: white; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
