body {
    /* background-color: black; */
}

#root{
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    margin: 0%;
    padding: 0%;
    border: 0%;
    border: red;
    justify-content: flex-start;
    align-items: flex-start;
}
